coverage
node_modules
node_modules_linux
.nyc_output
server/localdev-config.json
.env
.DS_Store

server/.DS_Store
test/.DS_Store
cloud_functions/NOT_UPLOAD
.bluemix/Answer_store_medium.code-workspace
